
<nav class="navbar navbar-light bg-faded navbar-toggleable-sm navbar-fixed-top">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/empleados']" [routerLinkActive]="['active']">Empleados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/color']" [routerLinkActive]="['active']">Color</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/coches']" [routerLinkActive]="['active']">Coches </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" [routerLinkActive]="['active']">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" [routerLinkActive]="['active']">
            <i class="fa fa-sign-out" ></i>
            Logout
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>