<menu></menu>
<h2>{{title}}</h2>
<div id="divNombre" *ngIf="!nombre">
	<h4>¡Buenos días! ¿Cómo te llamas?</h4>
	<input type="text" placeholder="Pepe Ruíz..." (blur)="guardarUsuario($event)" />
</div>

<h1 *ngIf="nombre"><marquee>Bienvenido {{nombre}}</marquee></h1>
<hr/>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h4>Prendas existentes en el sistema:</h4>
			<ul *ngFor="let p of prendas">
				<li>Prenda: {{p.prenda}}</li>
				<li>Color: {{p.color}} <button class="btn-danger" (click)="delete(p.id)">X</button></li>
			</ul>
		</div>
		<div class="col-md-offset-2 col-md-6">
			<h4>Añadir nueva prenda</h4>
			<input type="text" placeholder="Camisa" [(ngModel)]="prenda" />
			<input type="text" placeholder="Negra" [(ngModel)]="color" />
			<button  class="btn-primary" (click)="add()">Crear</button>
		</div>
	</div>
</div>